<h1 class="mt-4">Agregar/Editar Promociones</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Inicio</li>
    <li class="breadcrumb-item">Promociones</li>
    <li class="breadcrumb-item active">Promoción</li>
</ol>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Formulario
    </div>
    <div class="card-body">
        <form>
            <div class="form-floating mb-3">
                <input class="form-control" placeholder="jaylli" />
                <label for="inputEmail">Nombres</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" placeholder="ronaldo" />
                <label for="inputEmail">Apellidos</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" placeholder="7" />
                <label for="inputEmail">Número</label>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" placeholder="100.5Kg" />
                <label for="inputEmail">Peso</label>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                <a class="small" href="#">Cancelar</a>
                <a class="btn btn-primary" href="#">Aceptar</a>
            </div>
        </form>
    </div>
</div>
