@{
    ViewData["Title"] = "Películas CUEVANA3";
}

<div class="text-center">
    <h1 class="display-4">Películas</h1>
    <p>Cuevana Oficial <a href="https://w4.cuevana3.ai/">Dile NO al cine</a>.</p>
</div>
